@mixin main {
  .rc-search-suggestions-root {
    position: relative;
    display: flex;
  }
  .rc-search-suggestions-container {
    display: flex;
    align-items: center;
    padding: 0.5em;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgb(232, 232, 232);
    flex: 1;
    input {
      border: none;
      background-color: white;
      outline: none;
      flex: 1;
      color: inherit;
      font-size: inherit;
      width: 100%;
    }
  }
  .rc-search-suggestions-popper {
    z-index: 2;
    background: white;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
    position: fixed;
    box-shadow:
      rgb(255, 255, 255) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-sizing: border-box;
  }
}
@mixin divider {
  .rc-search-suggestions-divider {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    height: 1px;
    background: rgb(232, 232, 232);
    opacity: 0.7;
    display: none;
    z-index: 2;
  }

  .rc-search-suggestions-divider-bottom {
    bottom: 0px;
  }

  .rc-search-suggestions-divider-top {
    top: 0px;
  }
}
@mixin panel {
  .panel {
    border-color: transparent;
    .rc-search-suggestions-popper {
      border: 1px solid rgb(232, 232, 232);
    }
    [data-popper-placement|='bottom'] {
      margin-top: -1px !important;
      border-top: none;
      box-shadow:
        0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 3px 8px 0px rgba(0, 0, 0, 0.12);
      & + .rc-search-suggestions-container {
        border: 1px solid rgb(232, 232, 232);
        border-bottom: none;
        box-shadow:
          0px 3px 3px -2px rgba(0, 0, 0, 0.2),
          0px 3px 4px 0px rgba(0, 0, 0, 0.14),
          0px 1px 8px 0px rgba(0, 0, 0, 0.12);
        .rc-search-suggestions-divider-bottom {
          display: block;
        }
      }
    }
    [data-popper-placement|='top'] {
      margin-bottom: -1px !important;
      border-bottom: none;
      box-shadow: 0px -2px 5px 0px rgb(207 207 207);
      & + .rc-search-suggestions-container {
        border: 1px solid rgb(232, 232, 232);
        border-bottom: top;
        box-shadow: 0px 0px 5px 0px rgb(207 207 207);
        .rc-search-suggestions-divider-top {
          display: block;
        }
      }
    }
  }
}
@mixin underline {
  .underline {
    .rc-search-suggestions-container {
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }
}
